<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css')
            }}">
        <title>THE PAGE </title>
    </head>
    <body>
        <h1>TP Nolhan-Franck-Thomas</h1>
        <main>
            <table>
                <tr><td>Temperature</td><td>Batterie</td><td>Humidite</td><td>Capteur</td><td>Date</td></tr>
                {% for capteur in data %}
                <tr><td>{{ capteur.temperature}}</td><td>{{ capteur.batterie}}</td><td>{{
                        capteur.humidite}}</td><td>{{ capteur.capteur}}</td><td>{{
                        capteur.date}}</td></tr>
                {% endfor %}
            </table>
        </main>
        <script>
		const boutonRenomer = document.querySelector('#bouton-renomer');

		boutonRenomer.addEventListener('click', () => {
			const cellule = document.querySelector('td:nth-child(2)'); // Renomme la deuxième colonne

			const nouveauNom = prompt("Entrez le nouveau nom de la cellule :");

			const colonne = document.querySelectorAll('td:nth-child(2)');

			colonne.forEach((celluleCourante) => {
				if (celluleCourante.textContent === cellule.textContent) { // Si la cellule a le même contenu que la cellule que vous voulez renommer
					celluleCourante.textContent = nouveauNom; // Remplacez le contenu de la cellule par le nouveau nom
				}
			});
		});
	</script>
        <footer>
            <h2>Copyright@2023TPNolhan-Franck-Thomas</h2>
            <h3>It's my work don't touch!</h3>
        </footer>
    </body>
</html>
